<!-- <a href="https://github.com/mallow-fight/blog" target="_blank"><img style="position: absolute; top: 60px; left: 0; border: 0; height: 100px; width: 100px;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png" alt="Fork me on GitHub"></a> -->
<div class="sidebar">
  <div class="sidebar-inner-index">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
</div>

<div id="hero">
  <div class="inner">
    <div class="right">
      <h2 class="vue">Mallow</h2>
      <h1>
        专注于
        <br>前端发展
      </h1>
      <p>
        <!-- <a class="button white" href="<%- url_for("/person/introduction/") %>">浏览</a> -->
        <a class="button white" href="<%- url_for("/index/") %>">浏览</a>
        <a class="button gray has-icon" href="<%- url_for(theme.github) %>" target="_blank">
          <%- partial('icons/github-dark') %>
            GITHUB</a>
      </p>
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2>理论</h2>
      <p>
        数据结构
        <br>计算机网络
        <br>计算机组成原理
        <br>算法
        <br>编译原理
        <br>...
      </p>
    </div>

    <div class="point">
      <h2>基础</h2>
      <p>
        前端
        <br>http和https
        <br>后端
        <br>...
      </p>
    </div>

    <div class="point">
      <h2>框架&工具</h2>
      <p>
        React相关
        <br> Vue相关
        <br> Lodash        
        <br> axios
        <br>...
      </p>
    </div>

    <div class="point">
      <h2>开发环境</h2>
      <p>
        IDE
        <br> 代码管理
        <br> 打包工具      
        <br> 脚手架
        <br> debug
        <br> 单元测试
        <br> 构建和部署
        <br> 服务器操作
        <br>...
      </p>
    </div>

    <div class="point">
      <h2>运行环境</h2>
      <p>
        浏览器
        <br> app
        <br> 桌面
        <br>...
      </p>
    </div>

    <div class="point">
      <h2>监控&分析</h2>
      <p>
        浏览器
        <br> app
        <br> 桌面
        <br>...
      </p>
    </div>  

  </div>
</div>

<div id="footer">
  <p>
    <a class="social-icon" href="<%- url_for(theme.github) %>" target="_blank">
      <%- partial('icons/github') %>
    </a>
  </p>
  <p>Released
    <a href="https://opensource.org/licenses/MIT" target="_blank"> under the MIT License</a>
    <br> Copyright &copy; 2017-
    <%- new Date().getFullYear() %> mallow</p>
</div>