<div class="sidebar">
  <div class="sidebar-inner-index">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
</div>

<div id="hero">
  <div class="inner">
    <div class="right">
      <h2 class="vue">Mallow's Blog</h2>
      <h1>
        Focus On
        <br>Web FE Development.
      </h1>
      <p>
        <!-- <a class="button white" href="<%- url_for("/person/introduction/") %>">浏览</a> -->
        <a class="button white" href="<%- url_for("/index/") %>">Visit</a>
        <a class="button gray has-icon" href="<%- url_for(theme.github) %>" target="_blank">
          <%- partial('icons/github-dark') %>
            GITHUB</a>
      </p>
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2>Frontend</h2>
      <p>
        framework
        <br>js
        <br>css        
        <br>html
        <br>more...
      </p>
    </div>

    <div class="point">
      <h2>backend</h2>
      <p>
        node
        <br>java
        <br>docker        
        <br>database
        <br>more...
      </p>
    </div>

    <div class="point">
      <h2>others</h2>
      <p>
        git
        <br> ps
        <br> hexo        
        <br> about wechat
        <br>more...
      </p>
    </div>
  </div>
</div>

<div id="footer">
  <div class="bdsharebuttonbox" data-tag="share_1">
    <a class="bds_mshare" data-cmd="mshare"></a>
    <a class="bds_qzone" data-cmd="qzone" href="#"></a>
    <a class="bds_tsina" data-cmd="tsina"></a>
    <a class="bds_baidu" data-cmd="baidu"></a>
    <a class="bds_renren" data-cmd="renren"></a>
    <a class="bds_tqq" data-cmd="tqq"></a>
    <a class="bds_more" data-cmd="more">更多</a>
    <a class="bds_count" data-cmd="count"></a>
  </div>
  <p>
    <a class="social-icon" href="<%- url_for(theme.github) %>" target="_blank">
      <%- partial('icons/github') %>
    </a>
  </p>
  <p>Released
    <a href="https://opensource.org/licenses/MIT" target="_blank"> under the MIT License</a>
    <br> Copyright &copy; 2017-
    <%- new Date().getFullYear() %> mallow</p>
</div>