<!-- <a href="https://github.com/mallow-fight/blog" target="_blank"><img style="position: absolute; top: 60px; left: 0; border: 0; height: 100px; width: 100px;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png" alt="Fork me on GitHub"></a> -->
<div class="sidebar">
  <div class="sidebar-inner-index">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
</div>

<div id="hero">
  <div class="inner">
    <div class="right">
      <h2 class="vue">Mallow</h2>
      <h1>
        专注于
        <br>前端发展
      </h1>
      <p>
        <!-- <a class="button white" href="<%- url_for("/person/introduction/") %>">浏览</a> -->
        <a class="button white" href="<%- url_for("/index/") %>">浏览</a>
        <a class="button gray has-icon" href="<%- url_for(theme.github) %>" target="_blank">
          <%- partial('icons/github-dark') %>
            GITHUB</a>
      </p>
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2>前端</h2>
      <p>
        js
        <br>css        
        <br>html
        <br>framework
        <br>...
      </p>
    </div>

    <div class="point">
      <h2>后端</h2>
      <p>
        node
        <br>http
        <br>java
        <br>database
        <br>...
      </p>
    </div>

    <div class="point">
      <h2>算法&工程化</h2>
      <p>
        软件工程化
        <br> 算法概念
        <br> 最佳实践        
        <br> 解放生产力工具
        <br>...
      </p>
    </div>
  </div>
</div>

<div id="footer">
  <p>
    <a class="social-icon" href="<%- url_for(theme.github) %>" target="_blank">
      <%- partial('icons/github') %>
    </a>
  </p>
  <p>Released
    <a href="https://opensource.org/licenses/MIT" target="_blank"> under the MIT License</a>
    <br> Copyright &copy; 2017-
    <%- new Date().getFullYear() %> mallow</p>
</div>