<% var isIndex = page.path === 'index.html' %>

<!DOCTYPE html>
<html lang="en">
<head>
  <title><%- page.title ? page.title + ' - ' : '' %>mallow</title>
  <meta charset="utf-8">
  <meta name="description" content="<%- theme.site_description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <meta property="og:type" content="article">
  <meta property="og:title" content="<%- page.title ? page.title + ' — ' : '' %>mallow">
  <meta property="og:description" content="<%- theme.site_description %>">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120215204-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-120215204-1');
  </script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="icon" href="<%- url_for("/images/logo.png") %>" type="image/png">
  <!-- main page styles -->
  <%- css(isIndex ? 'css/index' : 'css/page') %>
  <!-- import vue from there so that you can use vue in markdown -->
  <script src="<%- url_for('/js/vue.js') %>"></script>
  <script>window.PAGE_TYPE = "<%- page.type %>"</script>
</head>
<body class="<%- isIndex ? '' : 'docs' -%>">
  <div id="mobile-bar" <%- isIndex ? 'class="top"' : '' %>>
    <a class="menu-button"></a>
    <a class="logo" href="/"></a>
  </div>
  <%- partial('partials/header') %>
  <% if (!isIndex) { %>
    <div id="main" class="fix-sidebar">
        <%- body %>
    </div>
    <script src="<%- url_for('/js/smooth-scroll.min.js') %>"></script>
  <% } else { %>
    <%- body %>
  <% } %>
  <!-- main custom script for sidebars, version selects etc. -->
  <script src="<%- url_for('/js/css.escape.js') %>"></script>
  <script src="<%- url_for('/js/common.js') %>"></script>
  <!-- search -->
  <link href="//cdn.jsdelivr.net/docsearch.js/1/docsearch.min.css" rel='stylesheet' type='text/css'>
  <%- css('css/search') %>
  <!-- <script src="//cdn.jsdelivr.net/docsearch.js/1/docsearch.min.js"></script> -->
  <%- js('js/docsearch') %>
  <script>
  [
    '#search-query-nav',
    '#search-query-sidebar',
    '#search-query-menu'
  ].forEach(function (selector) {
    if (!document.querySelector(selector)) return
    docsearch({
      appId: 'FKZQZEMOI4',
      apiKey: '82fdcfac2e888595cb2807aa60aaad58',
      indexName: 'prod_blog',
      inputSelector: selector
    })
  })
  </script>
  <!-- fastclick -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      FastClick.attach(document.body)
    }, false)
    // 百度分享
    window._bd_share_config = {
      common : {
        bdText : 'mallow的博客',	
        bdDesc : '专注于前端，向全站渗透，在这里，你可以获取到专业，有用的计算机知识！',
        bdUrl : 'https://mallow-fight.github.io/', 	
        bdPic : '/images/logo.png'
      },
      share : [{
        "bdSize" : 16
      }],
      slide : [{	   
        bdImg : 0,
        bdPos : "right",
        bdTop : 100
      }],
      image : [{
        viewType : 'list',
        viewPos : 'top',
        viewColor : 'black',
        viewSize : '16',
        viewList : ['qzone','tsina','huaban','tqq','renren']
      }],
      selectShare : [{
        "bdselectMiniList" : ['qzone','tqq','kaixin001','bdxc','tqf']
      }]
    }
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
    var getShareButtonTime = setInterval(() => {
      var shareButton = window.document.querySelector(".bdshare-slide-button")
      if (shareButton) {
        clearInterval(getShareButtonTime)
        // 影响美观，暂时移除
        shareButton.style.opacity = 0
      }
    }, 100)
  </script>
</body>
</html>