<div class="guide-links">
  <% const nextPage1 = site.pages.find({ type: page.type, order: { $gt: page.order }}).sort({ order: 1 }).first(); %>
  <% if (nextPage1) { %>
    <span style="float: right;"><a style="color: green;" href="<%- url_for(nextPage1.path) %>"><%- nextPage1.title %></a> →</span>
  <% } %>
  <% const lastPage1 = site.pages.find({ type: page.type, order: { $lt: page.order }}).sort({ order: -1 }).first(); %>
  <% if (lastPage1) { %>
    <span style="float: right; margin-right: 30px;">← <a style="color: goldenrod;" href="<%- url_for(lastPage1.path) %>"><%- lastPage1.title %></a></span>
  <% } %>
</div>
<% if (page.type) { %>
  <%- partial('partials/sidebar', { type: page.type === 'menu' ? 'guide' : page.type, index: page.index }) %>
<% } else { %>
  <div class="sidebar">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
<% } %>

<div class="content <%- page.type ? page.type + ' with-sidebar' : '' %> <%- page.type === 'guide' ? page.path.replace(/.+\//, '').replace('.html', '') + '-guide' : '' %>">
  <%- partial('partials/toc', { type: 'guide' }) %>
  <% if (page.title.trim()) { %>
    <h1><%- page.title %><%- page.type === 'examples' ? ' Example' : '' %></h1>
  <% } %>
  <%- page.content %>
  <div class="guide-links">
    <% const lastPage = site.pages.find({ type: page.type, order: { $lt: page.order }}).sort({ order: -1 }).first(); %>
    <% if (lastPage) { %>
      <span>← <a href="<%- url_for(lastPage.path) %>"><%- lastPage.title %></a></span>
    <% } %>
    <% const nextPage = site.pages.find({ type: page.type, order: { $gt: page.order }}).sort({ order: 1 }).first(); %>
    <% if (nextPage) { %>
      <span style="float: right;"><a href="<%- url_for(nextPage.path) %>"><%- nextPage.title %></a> →</span>
    <% } %>
  </div>
  <div class="footer">
    发现错误？想参与编辑？
    <a href="<%- theme.github %>/tree/master/source/<%- page.path.replace(/\.html$/, '.md') %>" target="_blank">
      在 GitHub 上编辑此页！
    </a>
    <% const updatedTime = moment(page.updated).format('YYYY-MM-DD HH:MM:SS') %>
    <span>更新于：<%- updatedTime %></span>
  </div>
</div>


<!-- <div id="disqus_thread"></div>
<script>
  // it seems slowly page, so i annotation it.
  // disqus评论系统
  /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
  var disqus_config = function () {
    this.page.url = 'https://mallow-fight.github.io/';  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = 'https://mallow-fight.github.io/'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://mallow-blog.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> -->