<li class="nav-dropdown-container learn">
    <a class="nav-link">others</a><span class="arrow"></span>
    <ul class="nav-dropdown">
      <li><a href="<%- url_for("/others/git.html") %>" class="nav-link">git</a></li>
      <li><a href="<%- url_for("/others/wechat.html") %>" class="nav-link">about wechat</a></li>
      <li><a href="<%- url_for("/others/ps.html") %>" class="nav-link">ps</a></li>
      <li><a href="<%- url_for("/others/webpack.html") %>" class="nav-link">webpack</a></li>
      <li><a href="<%- url_for("/others/mac.html") %>" class="nav-link">mac</a></li>
      <li><h4>Blog Framework</h4></li>
      <li><ul>
        <li><a href="<%- url_for("/others/hexo.html") %>" class="nav-link">hexo</a></li>
      </ul></li>
    </ul>
  </li>
    