<li class="nav-dropdown-container learn">
    <a class="nav-link">其它</a><span class="arrow"></span>
    <ul class="nav-dropdown">
      <li><ul>
        <li><a href="<%- url_for("/others/git/") %>" class="nav-link">git</a></li>
        <li><a href="<%- url_for("/others/wechat/") %>" class="nav-link">微信相关</a></li>
        <li><a href="<%- url_for("/others/ps/") %>" class="nav-link">ps</a></li>
        <li><a href="<%- url_for("/others/hexo/") %>" class="nav-link">hexo</a></li>
        <li><a href="<%- url_for("/others/webpack/") %>" class="nav-link">webpack</a></li>
        <li><a href="<%- url_for("/others/mac/") %>" class="nav-link">mac</a></li>
      </ul></li>
    </ul>
  </li>
    