<li class="nav-dropdown-container learn">
  <a class="nav-link">Frontend</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="<%- url_for("/frontend/html.html") %>" class="nav-link">html</a></li>
    <li><a href="<%- url_for("/frontend/css.html") %>" class="nav-link">css</a></li>
    <li><a href="<%- url_for("/frontend/js/note.html") %>" class="nav-link">javascript</a></li>
    <li><a href="<%- url_for("/frontend/state.html") %>" class="nav-link">state manage</a></li>
    <li><a href="<%- url_for("/frontend/wechat.html") %>" class="nav-link">about wechat</a></li>
    <li><h4>Web Framework</h4></li>
    <li><ul>
      <li><a href="<%- url_for("/frontend/vue.html") %>" class="nav-link">vue</a></li>
      <li><a href="<%- url_for("/frontend/react.html") %>" class="nav-link">react</a></li>
      <li><a href="<%- url_for("/frontend/angular.html") %>" class="nav-link">angular</a></li>
    </ul></li>
  </ul>
</li>
  