<li class="nav-dropdown-container learn">
  <a class="nav-link">理论</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="<%- url_for("v2/theory/dataStructure/1_intro.html") %>" class="nav-link">数据结构</a></li>
    <li><a href="<%- url_for("v2/theory/computerNet/1_intro.html") %>" class="nav-link">计算机网络</a></li>
    <li><a href="<%- url_for("v2/theory/computerContain/1_intro.html") %>" class="nav-link">计算机组成原理</a></li>
    <li><a href="<%- url_for("v2/theory/arithmetic/1_intro.html") %>" class="nav-link">算法</a></li>
    <li><a href="<%- url_for("v2/theory/compile/1_intro.html") %>" class="nav-link">编译原理</a></li>
  </ul>
</li>