<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li>

<!-- v3 directory -->
<!-- <%- partial('partials/v3/client') %>
<%- partial('partials/v3/http') %>
<%- partial('partials/v3/server') %> -->

<!-- v2 directory -->
<%- partial('partials/v2/learn_theory') %>
<%- partial('partials/v2/learn_basic') %>
<%- partial('partials/v2/learn_frame') %>
<%- partial('partials/v2/learn_dev') %>
<%- partial('partials/v2/learn_runtime') %>
<%- partial('partials/v2/learn_monitor') %>
<!-- <%- partial('partials/v2') %> -->

<!-- v1 directory -->
<%- partial('partials/v1') %>