<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li>
<%- partial('partials/learn_software') %>
<%- partial('partials/learn_frontend') %>
<%- partial('partials/learn_backend') %>
<%- partial('partials/learn_arithmetic') %>
<%- partial('partials/person') %>