<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li>
<!-- <%- partial('partials/learn_software') %>
<%- partial('partials/learn_arithmetic') %>
<%- partial('partials/learn_frontend') %>
<%- partial('partials/learn_backend') %>
<%- partial('partials/learn_books') %> -->
<%- partial('partials/learn_theory') %>
<%- partial('partials/learn_basic') %>
<%- partial('partials/learn_frame') %>
<%- partial('partials/learn_dev') %>
<%- partial('partials/learn_runtime') %>
<%- partial('partials/learn_monitor') %>
<%- partial('partials/special_subject') %>
<%- partial('partials/old_catalog') %>