<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li>
<%- partial('partials/v3/client') %>
<%- partial('partials/v3/http') %>
<%- partial('partials/v3/server') %>
<%- partial('partials/v2') %>
<%- partial('partials/v1') %>