<li class="nav-dropdown-container learn">
  <a class="nav-link">关于我</a>
  <span class="arrow"></span>
  <ul class="nav-dropdown">
    <li>
      <ul>
        <li>
          <a href="<%- url_for("/person/introduction/") %>" class="nav-link">个人介绍</a>
        </li>
        <li>
          <a href="<%- url_for("/person/ideas/") %>" class="nav-link">点子</a>
        </li>
        <li>
          <a href="<%- url_for("/person/todolist/") %>" class="nav-link">todos</a>
        </li>
        <li>
          <a href="<%- url_for("/person/stock/") %>" class="nav-link">证券</a>
        </li>
        <li>
          <a href="<%- url_for("/person/health/") %>" class="nav-link">健身</a>
        </li>
        <li>
          <a href="<%- url_for("/person/eq/") %>" class="nav-link">EQ</a>
        </li>
      </ul>
    </li>
  </ul>
</li>