<li class="nav-dropdown-container learn">
  <a class="nav-link">About Me</a>
  <span class="arrow"></span>
  <ul class="nav-dropdown">
    <li>
      <ul>
        <li>
          <a href="<%- url_for("/person/introduction.html") %>" class="nav-link">introduction</a>
        </li>
        <li>
          <a href="<%- url_for("/person/ideas.html") %>" class="nav-link">ideas</a>
        </li>
        <li>
          <a href="<%- url_for("/person/todolist.html") %>" class="nav-link">todos</a>
        </li>
        <li>
          <a href="<%- url_for("/person/stock.html") %>" class="nav-link">stock</a>
        </li>
        <li>
          <a href="<%- url_for("/person/health.html") %>" class="nav-link">health</a>
        </li>
        <li>
          <a href="<%- url_for("/person/eq.html") %>" class="nav-link">EQ</a>
        </li>
        <li>
          <a href="<%- url_for("/person/manage.html") %>" class="nav-link">team manage</a>
        </li>
      </ul>
    </li>
  </ul>
</li>