<li class="nav-dropdown-container learn">
  <a class="nav-link">v1</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><h4>软件工程化</h4></li>
    <li><ul>
      <li><a href="<%- url_for("/software/engineering.html") %>" class="nav-link">概念&实践</a></li>
    </ul></li>
    <li><h4>前端</h4></li>
    <li><ul>
      <li><a href="<%- url_for("/frontend/skeleton/1_skeleton.html") %>" class="nav-link">skeleton</a></li>
      <li><a href="<%- url_for("/frontend/html/1_define.html") %>" class="nav-link">html</a></li>
      <li><a href="<%- url_for("/frontend/css/1_define.html") %>" class="nav-link">css</a></li>
      <li><a href="<%- url_for("/frontend/js/1_enter&going.html") %>" class="nav-link">javascript</a></li>
      <li><a href="<%- url_for("/frontend/framework/1_vue.html") %>" class="nav-link">framework</a></li>
      <li><a href="<%- url_for("/frontend/browser/1_safe.html") %>" class="nav-link">browser</a></li>
      <li><a href="<%- url_for("/frontend/important/1_conclude.html") %>" class="nav-link">conclude</a></li>
    </ul></li>
    <li><h4>后端</h4></li>
    <li><ul>
      <li><a href="<%- url_for("/backend/node/note.html") %>" class="nav-link">node</a></li>
      <li><a href="<%- url_for("/backend/http/1_http.html") %>" class="nav-link">http</a></li>
      <li><a href="<%- url_for("/backend/java/core.html") %>" class="nav-link">java</a></li>
      <li><a href="<%- url_for("/backend/database/1_mysql.html") %>" class="nav-link">database</a></li>
    </ul></li>
    <li><h4>算法</h4></li>
    <li><ul>
      <li><a href="<%- url_for("/arithmetic/1_lintcode.html") %>" class="nav-link">概念&实践</a></li>
    </ul></li>
    <li><h4>读书</h4></li>
    <li><ul>
      <li><a href="<%- url_for("/books/memory/1_利玛窦的记忆宫殿.html") %>" class="nav-link">记忆学</a></li>
      <li><a href="<%- url_for("/books/computer/1_构建高性能web网站.html") %>" class="nav-link">计算机</a></li>
      <li><a href="<%- url_for("/books/history/资治通鉴/1_周纪一.html") %>" class="nav-link">历史</a></li>
      <li><a href="<%- url_for("/books/economics/1_国富论.html") %>" class="nav-link">经济</a></li>
    </ul></li>
  </ul>
</li>
