<li class="nav-dropdown-container learn">
	<a class="nav-link">v2</a><span class="arrow"></span>
  <ul class="nav-dropdown">
		<li><h4>理论</h4></li>
		<li><ul>
			<li><a href="<%- url_for("v2/theory/dataStructure/1_intro.html") %>" class="nav-link">数据结构</a></li>
			<li><a href="<%- url_for("v2/theory/computerNet/1_intro.html") %>" class="nav-link">计算机网络</a></li>
			<li><a href="<%- url_for("v2/theory/computerContain/1_intro.html") %>" class="nav-link">计算机组成原理</a></li>
			<li><a href="<%- url_for("v2/theory/arithmeticV2/1_intro.html") %>" class="nav-link">算法</a></li>
			<li><a href="<%- url_for("v2/theory/compile/1_intro.html") %>" class="nav-link">编译原理</a></li>
		</ul></li>
		<li><h4>基础</h4></li>
    <li><ul>
			<li><a href="<%- url_for("v2/basic/frontend/1_intro.html") %>" class="nav-link">前端</a></li>
			<li><a href="<%- url_for("v2/basic/http/1_intro.html") %>" class="nav-link">http</a></li>
			<li><a href="<%- url_for("v2/basic/backend/1_intro.html") %>" class="nav-link">后端</a></li>
		</ul></li>
		<li><h4>框架&工具</h4></li>
		<li><ul>
			<li><a href="<%- url_for("v2/frame/react/1_intro.html") %>" class="nav-link">React相关</a></li>
			<li><a href="<%- url_for("v2/theory/vue/1_intro.html") %>" class="nav-link">Vue相关</a></li>
			<li><a href="<%- url_for("v2/theory/lodash/1_intro.html") %>" class="nav-link">Lodash</a></li>
			<li><a href="<%- url_for("v2/theory/axios/1_intro.html") %>" class="nav-link">axios</a></li>
		</ul></li>
		<li><h4>开发环境</h4></li>
		<li><ul>
			<li><a href="<%- url_for("v2/dev/ide/1_intro.html") %>" class="nav-link">IDE</a></li>
			<li><a href="<%- url_for("v2/dev/codeManage/1_intro.html") %>" class="nav-link">代码管理</a></li>
			<li><a href="<%- url_for("v2/dev/packTools/1_intro.html") %>" class="nav-link">打包工具</a></li>
			<li><a href="<%- url_for("v2/dev/staging/1_intro.html") %>" class="nav-link">脚手架</a></li>
			<li><a href="<%- url_for("v2/dev/debug/1_intro.html") %>" class="nav-link">debug</a></li>
			<li><a href="<%- url_for("v2/dev/unitTest/1_intro.html") %>" class="nav-link">单元测试</a></li>
			<li><a href="<%- url_for("v2/dev/deploy/1_intro.html") %>" class="nav-link">构建和部署</a></li>
			<li><a href="<%- url_for("v2/dev/serverOprate/1_intro.html") %>" class="nav-link">服务器操作</a></li>
		</ul></li>
		<li><h4>运行环境</h4></li>
		<li><ul>
			<li><a href="<%- url_for("v2/runtime/browser/1_intro.html") %>" class="nav-link">浏览器</a></li>
			<li><a href="<%- url_for("v2/runtime/app/1_intro.html") %>" class="nav-link">app</a></li>
			<li><a href="<%- url_for("v2/runtime/desktop/1_intro.html") %>" class="nav-link">桌面</a></li>
		</ul></li>
		<li><h4>监控&分析</h4></li>
		<li><ul>
			<li><a href="<%- url_for("v2/monitor/browser/1_intro.html") %>" class="nav-link">浏览器</a></li>
			<li><a href="<%- url_for("v2/monitor/app/1_intro.html") %>" class="nav-link">app</a></li>
			<li><a href="<%- url_for("v2/monitor/desktop/1_intro.html") %>" class="nav-link">桌面</a></li>
		</ul></li>
		<li class="nav-dropdown-container learn">
			<a href="<%- url_for("/special/1_原型.html") %>" class="nav-link">专题</a>
		</li>			
  </ul>
</li>
