<li class="nav-dropdown-container learn">
    <a class="nav-link">开发</a><span class="arrow"></span>
    <ul class="nav-dropdown">
      <li><a href="<%- url_for("v2/dev/ide/1_intro.html") %>" class="nav-link">IDE</a></li>
      <li><a href="<%- url_for("v2/dev/codeManage/1_intro.html") %>" class="nav-link">代码管理</a></li>
      <li><a href="<%- url_for("v2/dev/packTools/1_intro.html") %>" class="nav-link">打包工具</a></li>
      <li><a href="<%- url_for("v2/dev/staging/1_intro.html") %>" class="nav-link">脚手架</a></li>
      <li><a href="<%- url_for("v2/dev/debug/1_intro.html") %>" class="nav-link">debug</a></li>
      <li><a href="<%- url_for("v2/dev/unitTest/1_intro.html") %>" class="nav-link">单元测试</a></li>
      <li><a href="<%- url_for("v2/dev/deploy/1_intro.html") %>" class="nav-link">构建和部署</a></li>
      <li><a href="<%- url_for("v2/dev/serverOprate/1_intro.html") %>" class="nav-link">服务器操作</a></li>
    </ul>
  </li>